* { box-sizing: border-box; }

body {
    margin: 0;
    font-size: 0px;
    background-size: 100%;
        /* W3C */
	background: linear-gradient(top, #FF0000 0%,#F3AB9F 16%,#002CF5 32%,#BECCFE 50%,#AD9000 66%,#000000 82%,#A9A9A9 100%);

	/* Firefox */
	background: -moz-linear-gradient(top, #FF0000 0%,#F3AB9F 16%,#002CF5 32%,#BECCFE 50%,#AD9000 66%,#000000 82%,#A9A9A9 100%);

	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0000), color-stop(16%,#F3AB9F), color-stop(32%,#002CF5), color-stop(50%,#BECCFE), color-stop(66%,#AD9000), color-stop(82%,#000000), color-stop(100%,#A9A9A9));

	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #FF0000 0%,#F3AB9F 16%,#002CF5 32%,#BECCFE 50%,#AD9000 66%,#000000 82%,#A9A9A9 100%);

	background-size: 1000%;
	-moz-background-size: 1000%;
	-webkit-background-size: 1000%;	

	/* W3C */
	animation-name: fun-time-awesome;
	animation-duration: 40s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;

	/* Firefox: */
	-moz-animation-name: fun-time-awesome;
	-moz-animation-duration: 40s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	/* Chrome, Safari */
	-webkit-animation-name: fun-time-awesome;
	-webkit-animation-duration: 40s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
    }
/* W3C */
@keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Firefox */
@-moz-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Chrome, Safari */
@-webkit-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}


.c {    
    margin: 70px 15px 70px 15px;
    display: inline-block;
    font-size: 14px;
    font-family: "Akzidenz-Grotesk BQ";
}
.c1 {
    width: 130px;
}

.c2 {
    width: 290px;
}

.c3 {
    width: 450px;
}

.c4{
    width: 610px;
}

.c5 {
    width: 770px;
}

.c6 {
    width: 930px;
}

.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
}

img {width:100%}

.fix {position: fixed;
    top: 30px;
    left: 30px;
}
.fix2 {position: fixed;
    top: 500px;
    left: