* { box-sizing: border-box; }

body{
	background-color: #ffffff;
	background-image: url('../img/back.png');
	background-size: 1500px; 
	margin: 0 auto 0 auto;
	display: inline-block;
    font-size: 0px;
}

.chat {
    background: #fff;
    width: 325px;
    height: 340px;
    overflow-y: scroll;
    color: #000;
    font-size: 14px;
    line-height: 1.8;


}