* { box-sizing: border-box; }

body{
	background-color: #ffffff;
	background-image: url('../img/back.png');
	background-size: 1500px; 
	margin: 0 auto 0 auto;
	display: inline-block;
    font-size: 0px;
}

.draggable1{
    width: 375px;
    height: 390px;
    /* opacity: .8; */
    overflow-y: scroll;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    padding:10px;
}

.text {    
    width: 375px;
    height: 390px;
    overflow-y: scroll;
    color: #000;
    font-size: 15px;
    font-family: 'Monaco'; 
    line-height: 1.5;
    /* z-index: 1; */
    box-shadow: 8px 9px 20px white;
    background: #F8CFFC;
    opacity: .7;
    padding:20px 20px;
    cursor: move;
    }

.type{
    overflow: hidden;
    border-right: .10em solid #fff; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    color: #00BEC3;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
  }

.one {
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-50%,-50%);

}

#draggable2 {
    width: 280px;
    box-shadow: 8px 9px 20px white;

}

.two {
    position: absolute;
    top: 8%;
    left: 60%;
    cursor: move;
}

.draggable3 {
    width: 365px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.three{
    position: absolute;
    top: 60%;
    left: 50%;
}

img{
    /* box-shadow: 8px 9px 20px white; */
}

#draggable{
    box-shadow: 
  inset 5px 5px 10px #000000;
}


.dropbtn {
    background-color: Transparent;
    width: 140px;
    height: 26px;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: none;
}

.dropdown {
    position: relative;
    width: 200px;
    display: inline-block;
    right:0px;   
    box-shadow: none; 

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    text-shadow: 2px 2px 5px #FFB8D8;
    z-index: 1;
    font-size: 13px;
    text-align: left;
    /* font-family: 'Michroma', sans-serif; */
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Russo One', sans-serif; */
    font-weight: 900;
    letter-spacing: 3px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {text-shadow: 2px 2px 5px #54FAFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: none;}