* { box-sizing: border-box; }

body{
	background-color: #ffffff;
	background-image: url('../img/back.png');
	background-size: 1500px; 
	margin: 0 auto 0 auto;
	display: inline-block;
    font-size: 0px;
}

.top{
    background: white;
    width: 325px;
    height: 340px;
    opacity: .8;
    overflow-y: scroll;
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1.5;
    box-shadow: 0 10px 20px yellow inset; 
}

.text {    
    width: 325px;
    height: 340px;
    overflow-y: scroll;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    /* z-index: 1; */
    padding:20px;
}

