* { box-sizing: border-box; }

body{
	background-color: #ffffff;
	background-image: url('../img/background.png');
	margin: 0 auto 0 auto;
	display: inline-block;
	font-size: 0px;
}

.title {
	position: fixed;
	top:50%;
  left:10%;
	transform: translate(-50%,-50%);
}


.clear {
	position: absolute;
	top:90%;
	left:50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.hide {
	display: none;
}

.part {
	position: absolute;
	top:20%;
	left:65%;
	transform: translate(-50%,-50%);
	display: inline-block;
}

.part2 {
	position: absolute;
	top:150%;
	left:50%;
	transform: translate(-50%,-50%);
	display: inline-block;
}

.part3 {
	position: absolute;
	top:150%;
	left:50%;
	transform: translate(-50%,-50%);
	display: inline-block;
}

.plus {
	width: 50px;
	position: absolute;
	top: 120%;
	left: 30%;

}


button {
	padding: 0px;
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 30%;
	left: 98%;
}

.prew {
	/* left:-100%; */
	margin-left: -350px;
}

.next {
	margin-left: 25px;

}


.custom-select {
  position: relative;
	font-family: Arial;
	font-size: 12px;
	position: absolute;
	top:40%;
	left:-150%;
	box-shadow: 0 4px 8px 0 #FDC275;

}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
	background-color: #fff;
	opacity: 0.7;
	box-shadow: 0 4px 8px 0 #FDC275;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
	background-color: #fff;
	opacity: 0.7;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 255, 100, 0.2);
}


/* .body_div div {
	display: inline-block;
	background: #fff;
	width: 1px;
	height: 1px;
  }
  
  #newDiv1 {
	background: #fff;
	background-image: url('../img/1/1.jpg');
	width: 222px;
	height: 220px;
	position: absolute;
	top: 5%;
	left: 75%;
  } */
  
 