* { box-sizing: border-box; }

body{
	background-color: #ffffff;
	background-image: url('../img/Background.png');
	margin: 0 auto 0 auto;
	font-size: 0px;
	display: inline-block;
}

.title {
	position: absolute;
	top:40%;
    left:50%;
	transform: translate(-50%,-50%);
}

.buttons {
	display: inline-block;
	position: absolute;
	top:58%;
	left:54%;
	transform: translate(-50%,-50%);
}

.smile {
	display: inline-block;
	margin: 0 115px 0 0;
	cursor: pointer;
}

.frown {
	display: inline-block;
	margin: 0 115px 0 0;
	cursor: pointer;
}

.clear {
	position: absolute;
	top:90%;
	left:50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.hide {
	display: none;
}

.body_div div {
	display: inline-block;
	background: #fff;
	width: 100px;
	height: 100px;
  }
  
  #newDiv1 {
	background: green;
	background-image: url('../img/1/1.jpg');
	width: 222px;
	height: 220px;
	position: absolute;
	top: 10%;
	left: 70%;
  }
  
  #newDiv2 {
	background: blue;
  }
  
  #newDiv3 {
	background: black;
  }

  