* { box-sizing: border-box; }

body{
	background-color: #000;
	margin: 0 auto 0 auto;
    font-size: 0px;
}

.move { 
	cursor: move;
	box-shadow: 0 0 120px rgb(185, 185, 185);
}

.one {
    position: relative;
	top: 103px;
	left: 238px;
	right: 0;
	bottom: 0;
}

.two {
    position: relative;
	top: 55px;
	left: 645px;
	right: 0;
	bottom: 0;
    
}

.three {
    position: relative;
	top: 119px;
	left: 957px;
	right: 0;
	bottom: 0;
    
}

.four {
    position: relative;
	top: 443px;
	left: 455px;
}

.five {
    position: absolute;
	top: 464px;
	left: 728px;
	right: 0;
	bottom: 0;
    
}



#myVideo {
    position: fixed;
	right: 100px;
	left: 100px;
    width: 1300px;

}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color:#000;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #000;
    cursor: pointer;
}

#myBtn:hover {
    background: #000;
    color: black;
}