* { box-sizing: border-box; }

body{
	background-color: #000;
	margin: 0 auto 0 auto;
    font-size: 0px;
}

.move { 
	cursor: move;
	box-shadow: #ffffff;
}

.one {
    position: absolute;
	top: 83px;
	left: 138px;
	right: 0;
	bottom: 0;
}

.two {
    position: absolute;
	top: 35px;
	left: 495px;
	right: 0;
	bottom: 0;
    
}

.three {
    position: absolute;
	top: 99px;
	left: 757px;
	right: 0;
	bottom: 0;
    
}

.four {
    position: absolute;
	top: 315px;
	right: 393px;
	bottom: 0;
}

.five {
    position: absolute;
	top: 404px;
	left: 578px;
	right: 0;
	bottom: 0;
    
}



#myVideo {
    position: fixed;
	right: 100px;
	left: 100px;
    width: 1300px;

}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color:#000;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #000;
    cursor: pointer;
}

#myBtn:hover {
    background: #000;
    color: black;
}