* { box-sizing: border-box; }

body {
    background: #f00;
    margin: 0;
    font-size: 0px;
}
.c {
    background: #ff0;
    margin: 0px 15px 100px 15px;
    display: inline-block;
    font-size: 14px;
    font-family: "Akzidenz-Grotesk BQ";
}
.c1 {
    width: 130px;
}

.c2 {
    width: 290px;
}

.c3 {
    width: 450px;
}

.c4{
    width: 610px;
}

.c5 {
    width: 770px;
}

.c6 {
    width: 930px;
}

.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
    background: #0f0;
}

img {width:100%}