* { box-sizing: border-box; }

body{
	background-color: #ffffff;
	background-image: url('../img/background.png');
	background-size: 1500px; 
	margin: 0 auto 0 auto;
	display: inline-block;
    font-size: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: #FF308D;
    color: #00E6FF;
    text-align: center;
    padding: 5px 10px;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
    /* Position the tooltip */
    position: fixed;
    z-index: 1;
    bottom: 0px;
    left:0 ;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a { cursor: move; }

.draggable{
    box-shadow: 5px 5px 10px #000000;
}

#draggable1{
    width: 120px;
    height: 100px;
    background: #fff;
    border: none;
    box-shadow: 5px 5px 10px #807d7d;
    cursor: move;
    position: absolute;
    top: 70%;
    left: 21%;
}


#draggable2 {
    width: 220px;
    height: 228.28px;
    border: none;
    box-shadow: 5px 5px 10px #807d7d;
    position: absolute;
    top: 21%;
    left: 9%;
    cursor: move;
}


#draggable3 {
    width: 320px;
    height: 322.26px;
    box-shadow: 5px 5px 10px #807d7d;
    border: none;
    position: absolute;
    top: 42%;
    left: 58%;
    cursor: move;
}

#draggable4{
    position: absolute;
    top: 11%;
    left: 66%;
    cursor: move;
    border: none;
    box-shadow: 5px 5px 10px #807d7d;

}

#draggable5{
    width: 220px;
    height: 128px;
    position: absolute;
    top: 66%;
    left: 76%;
    cursor: move;
    border: none;
    box-shadow: 5px 5px 10px #807d7d;

}

#draggable6{
    position: absolute;
    top: 34%;
    left: 76%;
    cursor: move;
    border: none;
}

#draggable7 {
    border: none;
    position: absolute;
    top: -4%;
    left: 30%;
    cursor: move;
}

#draggable8 {
    border: none;
    position: absolute;
    top: 70%;
    left: 8%;
    cursor: move;
}

#draggable9 {
    border: none;
    position: absolute;
    top: 16%;
    left: 46%;
    cursor: move;
}

#draggable10 {
    border: none;
    position: absolute;
    top: 50%;
    left: 4%;
    cursor: move;
}

#draggable11 {
    border: none;
    position: absolute;
    top: 66%;
    left: 80%;
    cursor: move;
}

#draggable12 {
    border: none;
    position: absolute;
    top: 26%;
    left: 23%;
    cursor: move;
}

#draggable13 {
    border: none;
    position: absolute;
    top: 60%;
    left: 40%;
    cursor: move;
}

#draggable14 {
    border: none;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 5%;
    left: 20%;
    cursor: move;
    box-shadow: 5px 5px 10px #807d7d;
}

.edit{
    position: fixed;
    bottom:0;
    left: 83%;
    cursor: pointer;
    transition: all 300ms;
}

.edit:hover{
    transform: translateX(3px) translateY(-3px);
    /* transform: scale(1.05); */
}

.dropbtn {
    background-color: Transparent;
    width: 140px;
    height: 26px;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.dropdown {
    position: relative;
    width: 140px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    text-shadow: 2px 2px 5px #F48BFF;
    z-index: 1;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.dropdown-content a {
    color: #52935A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {text-shadow: 2px 2px 5px #54FAFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: none;}