body {
    background: #fff;
    font-size: 20px;
    font-family: "Akzidenz-Grotesk BQ", Arial, Helvetica, sans-serif;
}
body { background: #fff;
    margin: 15px 15px 15px 15px; 

}

.small {
    width: 200px;
}
.medium {
    width: 400px;
}

div {
    background: #fff;
}

.header {
    background:#fff;
    font-size: 30px
}

.content {
    background: #fff;
}